<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
<div><%= f.label :nickname %><br />
  <%= f.text_field :nickname, autofocus: true %></div>

  <div><%= f.label :name %><br />
  <%= f.text_field :name, autofocus: false %></div>

  <div><%= f.label :surname %><br />
  <%= f.text_field :surname, autofocus: false %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: false %></div>

  <div class="field">
    <div><%= f.label :birth%><br />
    <%= f.date_select :birth, :start_year => Time.now.year - 100, 
    :end_year => Time.now.year, autofocus: false %></div>
  </div>

  <div><%= f.label :cpf %><br />
  <%= f.text_field :cpf, autofocus: false %></div>

  <div><%= f.label :rg %><br />
  <%= f.text_field :rg, autofocus: false %></div>

  <div><%= f.label :address %><br />
  <%= f.text_field :address, autofocus: false %></div>

  <div><%= f.label :description %><br />
  <%= f.text_area :description, autofocus: false %></div>
  <div class="field">
  <%= f.label :state_id %><br>
  <%= f.collection_select :state_id, State.all, :id, :name,
      {include_blank: true},
      { data: {
          dynamic_selectable_url: dynamic_select_cities_path(':state_id'),
          dynamic_selectable_target: '#user_city_id'
        }
      } %>
</div>
<div class="field">
  <%= f.label :city_id %><br>
  <%= f.collection_select :city_id, @user.state.try(:cities) || [], :id, :name, :include_blank => true  %>
</div>
  
<% end %>