<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :nickname %>
  <%= f.text_field :nickname, autofocus: false %></div><br/>

  <div><%= f.label :name %>
  <%= f.text_field :name, autofocus: false %></div><br/>

  <div class="field">
    <div><%= f.label :email %>
    <%= f.email_field :email, autofocus: false %></div><br/>
  </div>
  <% if current_user %>
  <% @state = resource.city.state %>


  <div class="field">
    <%= f.label :state %>
    <%= collection_select(:state ,:id, State.all, :id, :name, :include_blank => 'Selecione um estado') %>
  </div><br/>

  <div class="field">
  <% if f.object.persisted? %>
   <%= f.select :city_id, City.where(:state_id => f.object.city.state_id).collect { |c| [c.name, c.id] }, { :include_blank => '...' }, {class: "form-control" } %>
   <% else %>
   <%= f.collection_select :city_id, [], :id, :name, { :include_blank => 'Selecione um estado antes' }, { class: "form-control"} %>
   <% end -%>
</div><br/>  
<% if f.object.persisted? %>
<script>
$('#state_id').find("option[value=#{f.object.city.state_id}]").attr('selected', true);
</script>
<% end %>
<% else %>
<div class="field">
    <%= f.label :state %>
    <%= collection_select(:state ,:id, State.all, :id, :name, :include_blank => 'Selecione um estado') %>
    <%= error_tag @user, :state %>
  </div><br/>

  <div class="field">
  <%= f.label :city %>
  <% if f.object.persisted? %>
   <%= f.select :city_id, City.where(:state_id => f.object.city.state_id).collect { |c| [c.name, c.id] }, { :include_blank => 'Selecione um estado antes' }, {class: "form-control" } %><br />
   <% else %>
   <%= f.collection_select :city_id, [], :id, :name, { :include_blank => '...' }, { class: "form-control"} %>
   <% end -%>
   <%= error_tag @user, :city %>
  </div><br/>  
  <% if f.object.persisted? %>
    <script>
    $('#state_id').find("option[value=#{f.object.city.state_id}]").attr('selected', true);
    </script>
  <% end %>
<% end %>
  <div class="field">
    <div><%= f.label :birth%>
    <%= f.date_select :birth , :start_year => Time.now.year - 100, 
    :end_year => Time.now.year, autofocus: false %></div>
  </div>

  <div><%= f.label :cpf %>
  <%= f.text_field :cpf, autofocus: false %></div><br/>

  <div><%= f.label :rg %>
  <%= f.text_field :rg, autofocus: false %></div><br/>

  <div><%= f.label :address %>
  <%= f.text_field :address, autofocus: false %></div><br/>

  <div><%= f.label :description %>
  <%= f.text_area :description, autofocus: false %></div><br/>
  <% if current_user %>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Esperando confirmação do e-mail atual: <%= resource.unconfirmed_email %></div></br>
  <% end %>

  <div><%= f.label :password %>
    <%= f.password_field :password, autocomplete: "off"%></div><br/>

  <div><%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div><br/>

  <div><%= f.label :current_password %>
    <%= f.password_field :current_password, autocomplete: "off", placeholder: 'Para confirmar as alterações' %></div><br/>

  <div>
    <%= f.submit "Salvar", :class => 'btn' %>
    <%= link_to "Voltar", :back, :class => 'btn btn'%>
  </div>

  <% else %>
  <div>
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "off" %>
    <%= error_tag @user, :password %>
  </div><br/>

  <div>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
    <%= error_tag @user, :password_confirmation %>
  </div>
  <div><%= f.submit "Sign up", :class => 'btn' %></div>
  <% end %> 
<% end %>


<script type="text/javascript">
  $(document).ready(function() {
   $("#state_id").change(function() {
    getCitiesByState("id="+$("#state_id").val());
  });
 });

  function getCitiesByState(id) {
    $.getJSON("/cities_by_state", id, function(j) {
      var options = '<option value="">Selecione a Cidade</option>';
      $.each(j.cty, function(i, item) {
        options += '<option value="' + item.id + '">' + item.n + '</option>';
      });
      $("#user_city_id").html(options);
    });
  }

  function mascaraData(campoData){
    var data = campoData.value;
    if (data.length == 2){
      data = data + '/';
      document.forms[0].data.value = data;
      return true;              
    }
    if (data.length == 5){
      data = data + '/';
      document.forms[0].data.value = data;
      return true;
    }
  }
</script>