<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <%= render "form" %>
 
  <div class="field">
    <%= f.label :state %><br />
    <%= collection_select(:state ,:id, State.all, :id, :name, :include_blank => 'SELECT A STATE') %>
  </div>

  <div class="field">
   <%= f.label :city %><br />
   <%= f.collection_select :city_id, [], :id, :name, :include_blank => 'SELECT FIRST STATE' %>
  </div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>




<%= render "devise/shared/links" %>
