<h2>Cadastre-se</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :nickname %>
    <%= f.text_field :nickname, autofocus: false, placeholder: 'Como gostaria de ser chamado' %>
    <%= error_tag @user, :nickname %>
  </div><br/>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: false, placeholder: "" %>
    <%= error_tag @user, :name %>
  </div><br/>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: false, placeholder: "" %>
    <%= error_tag @user, :email %>
  </div><br/>

  <div class="field">
    <%= f.label :state %>
    <%= collection_select(:state ,:id, State.all, :id, :name, :include_blank => 'Selecione um estado') %>
    <%= error_tag @user, :state %>
  </div><br/>

  <div class="field">
  <%= f.label :city %>
  <% if f.object.persisted? %>
   <%= f.select :city_id, City.where(:state_id => f.object.city.state_id).collect { |c| [c.name, c.id] }, { :include_blank => 'Selecione um estado antes' }, {class: "form-control" } %><br />
   <% else %>
   <%= f.collection_select :city_id, [], :id, :name, { :include_blank => '...' }, { class: "form-control"} %>
   <% end -%>
   <%= error_tag @user, :city %>
  </div><br/>  
  <% if f.object.persisted? %>
    <script>
    $('#state_id').find("option[value=#{f.object.city.state_id}]").attr('selected', true);
    </script>
  <% end %>

  <div class="field">
    <%= f.label :birth%>
    <%= f.date_select :birth, :start_year => Time.now.year - 100, 
    :end_year => Time.now.year, autofocus: false %>
    <%= error_tag @user, :birth %>
  </div><br/>
 
  <div>
    <%= f.label :cpf %>
    <%= f.text_field :cpf, autofocus: false, class: "cpf" %>
    <%= error_tag @user, :cpf %>
  </div><br/>

  <div>
    <%= f.label :rg %>
    <%= f.text_field :rg, autofocus: false %>
    <%= error_tag @user, :rg %>
  </div><br/>

  <div>
    <%= f.label :address %>
    <%= f.text_field :address, autofocus: false %>
    <%= error_tag @user, :address %>
  </div><br/>

  <div>
    <%= f.label :description %>
    <%= f.text_area :description, autofocus: false %>
    <%= error_tag @user, :description %>
  </div><br/>

  <div>
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "off" %>
    <%= error_tag @user, :password %>
  </div><br/>

  <div>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
    <%= error_tag @user, :password_confirmation %>
  </div>

  <div>
    <%= f.submit "Finalizar cadastro", :class => 'btn' %>
  </div>
<% end %>


<%= render "devise/shared/links" %>
<%= render "form" %>


