<ul>

  <% @cart.line_items.each do |item| %>
    <li><%= item.quantity %> &times; <%= item.product.title %> valor <%= number_to_currency(item.product.price) %> <%= link_to 'Remover', line_item_path(item), method: :delete, :class => 'btn btn-mini' %></li>   
  <% end %>
  TOTAL: <%= number_to_currency(@cart.total_price) %>
  </br><%= link_to 'Continuar comprando', welcome_index_path , :class => 'btn btn-mini' %>
  <%= link_to 'Esvaziar carrinho', @cart, method: :delete, data: {confirm: 'Tem certeza?'}, :class => 'btn btn-mini'  %>
    <%= link_to "Finalizar compra", :controller => "welcome", :action => "checkout" %>
</ul>
