<%- model_class = Product -%>



<h1>
  <% if @search_query.present? %>
    <%= t '.search_results' %>
  <% end %>
</h1>

<div class="btn-group clearfix">
  <a class="btn dropdown-toggle" data-toggle="dropdown" >
    Ordenar por...
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><%= link_to 'Mais novos no site', products_path(order: 1, q: params[:q]) %></li>
    <li><%= link_to 'Menor Preço', products_path(order: 2,q: params[:q]) %></li>
    <li><%= link_to 'Maior Preço', products_path(order: 3,q: params[:q]) %></li>
  </ul>
</div>



<table class="table table-striped">

  
  <tbody>
    <% @products.each do |product| %>
      <tr>
      <td>
        <div class="entry">
          <div class="row">
            <div class="col-xs-6 col-md-3">             
              <a class="thumbnail" style="width: 200px" <%= link_to (image_tag product.cover.url(:medium)), product %>     
              </a>
            </div>
          </div>
        </div>
      </td>
        <td><%= link_to product.title, product %></td>
        <td><%= number_to_currency(product.price) %></td>
        <td><%= link_to product.user.nickname, "/user_products/#{product.user.id}" %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @products %>