<%- model_class = Product -%>
<div class="page-header">
  <h1><%= @product.title %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:cover) %>:</strong></dt>
  <dd><%= image_tag @product.cover(:medium) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:price) %>:</strong></dt>
  <dd><%= number_to_currency(@product.price) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @product.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:style) %>:</strong></dt>
  <dd><%= @product.style.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:category) %>:</strong></dt>
  <dd><%= @product.category.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:user) %>:</strong></dt>
  <dd><%= @product.user.name %></dd>

</dl>

<p>
<% mostrar = true %>
<% current_cart.line_items.each do |i|
  if i.product_id == @product.id
    mostrar = false
  end
 end %>

 <% if mostrar %>
  <%= button_to 'Adicionar ao carrinho', line_items_path(product_id: @product), :class => 'btn btn-mini' %>
 <% else %>
    <div class="alert alert-success" role="alert">O produto jรก foi adicionado ao seu carrinho</div>
  <% end %>
</p>
